<div class="row">
  <div class="col-md-12">
    <div class="cy"></div>
    <div class="nodectrl">
      <input type="text" class="form-control" placeholder="Node labels" ng-disabled="selectedNode === null || cy.nodes('#'+selectedNode).empty()" ng-model="labels" ng-list="," ng-change="updateLabels()">
      <button type="button" class="btn btn-default form-control" ng-disabled="selectedNode === null" ng-click="delete()"><i class="fa fa-trash"></i> Delete</button>
      <button type="button" class="btn btn-default form-control" ng-class="{active: drawEdges}" ng-click="drawEdges = drawEdges ? false : true"><i class="fa fa-pencil"></i> Draw edges</button>
    </div>
    <div class="nodectrl pushdown">
      <div class="btn-group btn-group-xs" role="group">
        <button type="button" class="btn btn-default" ng-click="cy.fit([], 50)"><i class="fa fa-arrows"></i> Fit graph</button>
        <button type="button" class="btn btn-default" ng-click="cy.layout({name: 'cose'})"><i class="fa fa-arrows-alt"></i> Layout graph</button>
        <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-trash"></i> Clear canvas</button>
      </div>
    </div>
  </div>
</div>
