<!DOCTYPE html>
<html>
  <head>
    <title>Kripke Builder</title>
    <!-- bower:css -->
    <!-- bower installed css files will go here... -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- built css files will go here... -->
    <!-- endinject -->
  </head>

  <body ng-app="kripkeBuilder" ng-controller="KripkeController">
    <kripke-nav mod="'sat'"></kripke-nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-toolbar" role="toolbar">
            <button type="button" class="btn btn-default" ng-click="ks.open()"><i class="fa fa-folder-open-o"></i> Open</button>
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-click="ks.saveJson()"><i class="fa fa-floppy-o"></i> Save</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#" ng-click="ks.saveJson()">Save as JSON</a></li>
                <!-- <li role="separator" class="divider"></li> -->
                <li><a href="#" ng-click="ks.savePng()">Save as PNG</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-files-o"></i> Samples
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="example in exampleArray"><a href="#" ng-click="ks.loadExample(example)">{{example}}</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <kripke-canvas ks="ks" on-select-node="setResult()" on-load="onLoad(graph)" on-change="response = null" formulae="formulae"></kripke-canvas>

      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" ng-submit="checkFormula()">
            <input type="text" class="form-control" id="formula" placeholder="Formula (CTL or LTL)" ng-model="formula" ng-change="response = null">
            <div class="btn-group">
              <button type="submit" class="btn btn-primary" ng-disabled="formula.trim().length == 0">Check</button>
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="formula.trim().length == 0">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" ng-click="formulae.push(formula)">Remember formula</a></li>
                </ul>
              </div>
            </div>
            <div class="btn-group" ng-show="formulae.length > 0">
              <button ng-repeat="formula in formulae" ng-click="$parent.formula = formula" class="btn btn-default">{{formula}}</button>
            </div>
            <span class="help-block">Accepts NuSMV <a href="http://nusmv.fbk.eu/NuSMV/userman/v26/nusmv.pdf#subsection.2.4.1" target="_blank">CTL</a> or <a href="http://nusmv.fbk.eu/NuSMV/userman/v26/nusmv.pdf#subsection.2.4.3" target="_blank">LTL</a> specifications.</span>
          </form>
          <div id="result" ng-show="result"><pre><code ng-class="{error: response.kind == 'error'}">{{result}}</code></pre></div>
        </div>
      </div>
    </div>

    <!-- bower:js -->
    <!-- bower installed scripts will go here... -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- app scripts will go here... -->
    <!-- endinject -->
  </body>
</html> 
