.help-block {
  font-size: 12px;
}
.cy {
  height: 500px;
  background-color: #EEEEFA;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#result {
  margin-top: 10px;
  margin-bottom: 10px;
}
#result pre code.error {
  color: #c7254e;
}
#nodectrl {
  position: absolute;
  right: 25px;
  top: 20px;
  width: 10em;
}
#nodectrl button {
  margin-top: 5px;
}
#formula {
  width: 250px;
}
